<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세 페이지</title>
    <link rel="stylesheet" href="/styles3.css">
</head>
<body>
<section class="notice">
    <div class="page-title">
        <div class="container">
            <h3>상세 페이지</h3>
        </div>
    </div>

    <!-- 상세 내용 영역 -->
    <div id="post-details">
        <div class="container">
            <div class="post-content">
                <h2 class="post-title">제목</h2>
                <p class="post-date">등록일</p>
                <div class="post-body">
                    <p>내용</p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
