<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<section class="notice">
    <div class="page-title">
        <div class="container">
            <h3>공지사항</h3>
        </div>
    </div>

        <!-- board search area -->
        <div id="board-search">
            <div class="container">
                <div class="search-window">
                    <form action="/search" method="get">
                        <div class="search-wrap">
                            <label for="search" class="blind">공지사항 내용 검색</label>
                            <input id="search" type="search" name="query"  placeholder="검색어를 입력해주세요." value="">
                            <button type="submit" class="btn btn-dark">검색</button>
                            <!-- 글쓰기 버튼 추가 -->
                            <!-- <button class="btn btn-dark" style="margin-left: 10px;">글쓰기</button> -->
                            <!-- <button type="submit" class="btn btn-dark">검색</button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
       
    <!-- board list area -->
    <div id="board-list">
        <div class="container">
            <table class="board-table">
                <thead>
                    <tr>
                        <th scope="col" class="th-num">번호</th>
                        <th scope="col" class="th-title">제목</th>
                        <th scope="col" class="th-date">등록일</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (posts.length === 0) { %>
                        <tr>
                            <td colspan="3">검색 결과가 없습니다.</td>
                            
                        </tr>
                    <% } else { %>
                        <% posts.forEach(function(item) { %>
                            <tr>
                               
                                <td><%= item.No %></td>
                                <td><%= item.Title %></td>
                                <td><%= new Date(item.regdate).toLocaleDateString('ko-KR', { year: 'numeric', month: 'long', day: 'numeric' }) %></td>
                            </tr>
                        <% }) %> 
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>
